In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/ipl_deliveries.csv')
df.head(5)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [ ]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql.connector in /usr/local/lib/python3.8/dist-packages (2.2.9)

In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.8/dist-packages (1.0.2)

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('mysql+pymysql://admin:K0Gmu9sacvPUT3SH47xg@database-oltp.cbcytqx3k6lh.ap-northeast-1.rds.amazonaws.com/delivery')
df.to_sql('batter',con=engine)

In [ ]:
#Importing importing Liabraries
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

In [ ]:
#code to connect to the database using python
con = mysql.connector.connect(user='admin',
                             host='database-oltp.cbcytqx3k6lh.ap-northeast-1.rds.amazonaws.com',
                             password='K0Gmu9sacvPUT3SH47xg',
                             database='delivery')
try:
    if con.is_connected():
        db_info = con.get_server_info()
        print('Connected to AWS Database with server',db_info)
        
except Error as e:
    print('Unable to connect to database due to',e)

Connected to AWS Database with server 8.0.28

1.**Extract**

In [ ]:
#Extracting the data from AWS server
df = pd.read_sql_query('select * from batter',con)

In [ ]:
df.sample(5)

,index,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
29364,29364,1254070,Mumbai IndiansDelhi Capitals,2,14,6,Lalit Yadav,RD Chahar,RR Pant,wides,0,1,1,0,0,None,None,None,Delhi Capitals,Mumbai Indians
101124,101124,980921,Royal Challengers BangaloreDelhi Daredevils,2,17,2,KK Nair,D Wiese,Q de Kock,None,1,0,1,0,0,None,None,None,Delhi Daredevils,Royal Challengers Bangalore
182080,182080,501207,Pune WarriorsKochi Tuskers Kerala,1,12,5,BJ Hodge,JD Ryder,RA Jadeja,None,1,0,1,0,0,None,None,None,Kochi Tuskers Kerala,Pune Warriors
124947,124947,733987,Kings XI PunjabChennai Super Kings,2,17,5,MS Dhoni,Sandeep Sharma,F du Plessis,None,1,0,1,0,0,None,None,None,Chennai Super Kings,Kings XI Punjab
47742,47742,1181764,Chennai Super KingsMumbai Indians,1,17,4,AT Rayudu,JJ Bumrah,MS Dhoni,None,1,0,1,0,0,None,None,None,Chennai Super Kings,Mumbai Indians

**Tranforming The Data**

In [ ]:
#columns
#1.runs 2.balls 3.fours 4.sixes 5.strike rate

In [ ]:
runs = df.groupby(['ID','batter'])['batsman_run'].sum().reset_index()
runs.head(2)

       ID     batter  batsman_run
0  335982  AA Noffke            9
1  335982    B Akhil            0

In [ ]:
balls = df[(df['extra_type']!='wides')&(df['extra_type']!='noball')].groupby(['ID','batter'])['batsman_run'].count().reset_index()
balls.head(2)

       ID     batter  batsman_run
0  335982  AA Noffke           10
1  335982    B Akhil            2

In [ ]:
four = df.query('batsman_run==4').groupby(['ID','batter'])['batsman_run'].count().reset_index()
four.head(2)

       ID       batter  batsman_run
0  335982    AA Noffke            1
1  335982  BB McCullum           10

In [ ]:
six = df.query('batsman_run==6').groupby(['ID','batter'])['batsman_run'].count().reset_index()
six.head(2)

       ID       batter  batsman_run
0  335982  BB McCullum           13
1  335982    JH Kallis            1

In [ ]:
#Merging all the columns
trans = runs.merge(balls,left_on=['ID','batter'],right_on=['ID','batter'],how='left').merge(four,left_on=['ID','batter'],right_on=['ID','batter'],how='left')
trans.head(3)

       ID       batter  batsman_run_x  batsman_run_y  batsman_run
0  335982    AA Noffke              9           10.0          1.0
1  335982      B Akhil              0            2.0          NaN
2  335982  BB McCullum            158           73.0         10.0

In [ ]:
trans.rename(columns={"batsman_run_x": "runs",
                      "batsman_run_y": "balls",
                      'batsman_run':'fours'},inplace=True)

In [ ]:
trans = trans.merge(six,left_on=['ID','batter'],right_on=['ID','batter'],how='left').fillna(0)
trans.head(3)

       ID       batter  runs  balls  fours  batsman_run
0  335982    AA Noffke     9   10.0    1.0          0.0
1  335982      B Akhil     0    2.0    0.0          0.0
2  335982  BB McCullum   158   73.0   10.0         13.0

In [ ]:
trans.rename(columns={"batsman_run": "six"},inplace=True)

In [ ]:
trans.head(3)

       ID       batter  runs  balls  fours   six
0  335982    AA Noffke     9   10.0    1.0   0.0
1  335982      B Akhil     0    2.0    0.0   0.0
2  335982  BB McCullum   158   73.0   10.0  13.0

In [ ]:
trans['balls']=trans['balls'].astype('int')
trans['fours'] = trans['fours'].astype('int')
trans['six'] = trans['six'].astype('int')

In [ ]:
trans['strike_rate'] = round((trans['runs']/trans['balls'])*100)
trans['strike_rate'].fillna(0,inplace=True)
trans['strike_rate'] = trans['strike_rate'].astype('int')

            ID        batter  runs  balls  fours  six  strike_rate
0       335982     AA Noffke     9     10      1    0           90
1       335982       B Akhil     0      2      0    0            0
2       335982   BB McCullum   158     73     10   13          216
3       335982      CL White     6     10      0    0           60
4       335982     DJ Hussey    12     12      1    0          100
...        ...           ...   ...    ...    ...  ...          ...
14224  1312200     SV Samson    14     11      2    0          127
14225  1312200  Shubman Gill    45     43      3    1          105
14226  1312200      TA Boult    11      7      0    1          157
14227  1312200       WP Saha     5      7      1    0           71
14228  1312200   YBK Jaiswal    22     16      1    2          138

[14229 rows x 7 columns]

In [ ]:
trans.head(5)

       ID       batter  runs  balls  fours  six  strike_rate
0  335982    AA Noffke     9     10      1    0           90
1  335982      B Akhil     0      2      0    0            0
2  335982  BB McCullum   158     73     10   13          216
3  335982     CL White     6     10      0    0           60
4  335982    DJ Hussey    12     12      1    0          100

In [ ]:
def dream11(row):
  points = 0
  points = row['runs'] + row['fours'] + 2*row['six']

  if row['runs']>=50 and row['runs']<100:
    points = points + 8
  elif row['runs']>=100:
    points = points + 16
  elif row['runs'] == 0:
    points = points -2

  
  if row['balls']>=10:
    if row['strike_rate']>170:
      points = points + 6
    elif row['strike_rate']>150 and row['strike_rate']<=170:
      points = points + 4
    elif row['strike_rate']>130 and row['strike_rate']<=150:
      points = points + 2
    elif row['strike_rate']>70 and row['runs']<=130:
      points = points + 0
    elif row['runs']>60 and row['strike_rate']<=70:
      points = points -2
    elif row['strike_rate']>50 and row['strike_rate']<=60:
      points = points - 4
    elif row['strike_rate']<50 :
      points = points - 6

  return points

In [ ]:
trans['fantasy_points'] = trans.apply(dream11,axis=1)
trans.head(5)

       ID       batter  runs  balls  fours  six  strike_rate  fantasy_points
0  335982    AA Noffke     9     10      1    0           90              10
1  335982      B Akhil     0      2      0    0            0              -2
2  335982  BB McCullum   158     73     10   13          216             216
3  335982     CL White     6     10      0    0           60               2
4  335982    DJ Hussey    12     12      1    0          100              13

In [ ]:
trans.to_csv('Fantasy Points IPL Dataset.csv')

**Load The Data**

In [ ]:
engine = create_engine('mysql+pymysql://admin:K0Gmu9sacvPUT3SH47xg@database-oltp.cbcytqx3k6lh.ap-northeast-1.rds.amazonaws.com/delivery')
trans.to_sql('Fantasy_Point',con=engine)

In [ ]:
fantasy = pd.read_sql_query('select * from Fantasy_Point',con)
fantasy.head(5)

,index,ID,batter,runs,balls,fours,six,strike_rate,fantasy_points
0,0,335982,AA Noffke,9,10,1,0,90,10
1,1,335982,B Akhil,0,2,0,0,0,-2
2,2,335982,BB McCullum,158,73,10,13,216,216
3,3,335982,CL White,6,10,0,0,60,2
4,4,335982,DJ Hussey,12,12,1,0,100,13